.git
.env
.env.*
!.env.example
node_modules
vendor
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar
bootstrap/cache/*
Dockerfile
Dockerfile.prod
docker-compose*.yml
tests
phpunit.xml
*.md